<div class="containerBody">
    <div class="jumbotron">
        <h1>¡Ingreso Exitoso!</h1>
        <h2><i>Bienvenido {{nombre}}</i></h2>
        <br>
        <button onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>