<div class="containerBody">
    <div class="jumbotron">
        <h1>Error al Registrar, el usuario ya existe</h1>
        <button onclick="location.href='/register'">VOLVER</button>
    </div>
</div>
