<div class="containerBody">
    <div class="jumbotron">
        <h1>¡Hasta luego {{nombre}}!</h1>
    </div>
</div>
<script>
setTimeout(function() {
    window.location.replace("./login")
}, 2000);
</script>