<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icon/favicon.ico" />
    
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet" />
    <link href="https://bootswatch.com/5/sketchy/bootstrap.min.css" rel="stylesheet"  />
    <script type="text/javascript" src= "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/styles.css" rel="stylesheet" />
    <title>Template Engines - EJS</title>
  </head>
  <body>
    <div class="main">
      <div class="column">
        <h1>Template Engines </h1>
        <h3>(EJS)</h3>
        <img src="./images/Logo.png" alt="Product image"  />
        <a href="/productos">
          <button type="button" style="background-color: #9e473d">All Products</button>
        </a>

        <h2>Enter new Product</h2>

        <form action="/productos" method="POST">
          <label>Name</label>
          <input type="text" name="title" placeholder="example: Samsung A03 Core 6.5 2GB RAM 32GB" required />

          <label>Price</label>
          <input type="number" name="price" placeholder="example: 899" required />

          <label>Image URL</label>
          <input type="text" name="thumbnail" placeholder="example: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />

          <button type="submit">Add Product</button>
        </form>
      </div>
    </div>
  </body>
</html>
