<div>
    <h1>CHAT  - CODERHOUSE</h1>
    <input id="chatBox" type="text" placeholder="Escribe tu mensaje">
    <br>
    <div id="log">
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
{{!-- <script src="../public/js/chat.js"></script> --}}
<script src="js/chat.js"></script>

