<div class="containerBody">
  <h1>LOGIN</h1>
  <form class="form" action="/login" method="post" role="form" autocomplete="off">
    <div class="form-group">
      <input id="nombre" name='nombre' placeholder="nombre" class="form-control" type="text" required>
    </div>
    <div class="mb-3">
      <button type="submit">LOGIN</button>
      <button onclick="location.href = '/register'">REGISTRARSE</button>
    </div>
  </form>
</div>


<div>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>
<script src="./js/login.js"></script>

