<div class="containerBody">
  <h1>LOGIN</h1>
  <form class="form" action="/login" method="post" role="form" autocomplete="off">
    <div class="form-group">
      <input id="nombre" name='nombre' placeholder="nombre" class="form-control" type="text" required>
    </div>
    <div class="mb-3">
      <button type="submit">LOGIN</button>
      <button onclick="location.href = '/register'">REGISTRARSE</button>
    </div>
  </form>
</div>

