<div class="containerBody">
    <div class="jumbotron">
        <h1>¡Hasta luego {{datos.nombre}}!</h1>
    </div>
</div>
<script>
setTimeout(function() {
    window.location.replace("http://localhost:8080/login")
}, 2000);
</script>