<div>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
        <button onclick="location.href = '/'">REGISTRARSE</button>
    </form>
</div>
<script src="/js/login.js"></script>