<h1>Chat Websockets</h1>

<div class="casing">
    <div class="window">
        <div class="header" id="header">Usuario</div>

        <div class="chats box" id="chats" >
        </div>

        <div class="new-chat">
            <input type="text" id="chatBox" />
            <button id="send">Send</button>
        </div>
    </div>
    <div class="home-btn">
        <div class="hb-square"></div>
    </div>
</div>




<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="scripts/chat.js"></script>