<div class="containerBody">
  <h1>LOGIN</h1>
  <h5><a class="infoTitle" href="./info" >info</a></h5>
  <form class="form" action="api/sessions/login" method="post" role="form" autocomplete="off">
    <div class="form-group">
      <input id="username" name='username' placeholder="Tu email" class="form-control" type="email" required >
      <input type="password" name="password" class="form-control" id="password"  placeholder="Tu contraseña" required>
    </div>
    <div class="mb-3">
        <button type="submit">LOGIN</button>
        <button onclick="location.href = '/register'">REGISTRARSE</button>
    </div>
  </form>

</div>

