* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  /* background: linear-gradient(-225deg, #f7df1d, #d3c06c,#f7df1d); */
  background:#f7df1d;
  padding: 0;
  margin: 0;
}


h1 {
  padding-top: 1rem;
  letter-spacing: 1px;
  /* color: rgb(81, 23, 23); */
  /* color: #fff; */
}
h2 {
  letter-spacing: 1px;
  padding-top: 3rem;
  /* color: #fff; */
}

label {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: italic;
}

input {
  width: 100%;
  height: 38px;
  box-shadow: none;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  border: 1px solid rgb(3, 52, 31);
}

button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0 2rem;
  border: none;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}


.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.column {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  align-self: baseline;
}

.message {
  background-color: rgb(250, 216, 216);
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 1px solid rgb(97, 11, 11);
}
.message h2 {
  color: rgb(97, 11, 11);
  padding: 0;
  margin: 0;
}

.image-container img {
  width: 56px;
}


.container {
  width: 100%;
  max-width: 500px;
}

.chat-container {
  width: 100%;
  max-width: 500px;
}

.button-container {
  text-align: center;
}

 
.chatRoomMessages {
  height: 400px;
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  word-break: break-all;
  overflow: scroll;
  overflow-x: hidden;
} 


textarea {
  width: 100%;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  min-height: 100px;
}

span.userEmail {
  font-weight: bold;
  color: blue;
}

span.messageDate {
  color: brown;
}

span.userMessage {
  font-style: italic;
  color: green;
}
