<div  class="pageContainer">
  <h1>INGRESO DE PRODUCTOS NUEVOS</h1>
  <form class="row g-3" id="formProductos" >
    <div class="col-md-4">
        <div class="col-sm-100">
          <input type="text" class="form-control" id="nombreProd" name="nombre" placeholder="product name">
        </div>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control" id="precio" name="precio" placeholder="price">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Image thumbnail">
    </div>
    <div class="col-3">
      <button type="submit" id="botonGuardarProducto" class="btn btn-success">Guardar</button>
    </div>
  </form>
</div>

    

    
    
