<div class="centroMensajes pageContainer">
    <h1>CENTRO DE MENSAJES</h1>
    <h5><div id="info">[ Normalizado : Cargando ... || Original : Cargando ... ]</div></h5>
    <h3><div id="compresion">[ Compresion : Cargando ... % ]</div></h3>
    <div id="messages"></div>
    <form class="row g-3" id="formChat">
      <div class="col-md-5">
        <input type="text" class="form-control" id="email" placeholder="Tu email" >
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" id="nombre" placeholder="Tu nombre" >
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" id="apellido" placeholder="Tu apellido" >
      </div>
      <div class="col-md-5">
        <input type="number" class="form-control" id="edad" placeholder="Tu edad" >
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" id="alias" placeholder="alias" >
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" id="avatar" placeholder="url de tu avatar" >
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" id="mensaje" placeholder="Cuéntanos algo...">
      </div>
      <div class="col-1">
          <input id="btnMensajes" class="btn btn-success" type="submit" value="Enviar">
      </div>
    </form>
  </div>