<img src='./public/images/Logo.png' alt='Product image' />
<a href='/productos'>
  <button type='button' style='background-color: #9e473d'>All Products</button>
</a>

<h2>Enter new Product</h2>

<form action='/productos' method='POST'>
  <label>Name</label>
  <input type='text' name='title' placeholder='example: Samsung A03 Core 6.5 2GB RAM 32GB' required />

  <label>Price</label>
  <input type='number' name='price' placeholder='example: 899' required />

  <label>Image URL</label>
  <input type='text' name='thumbnail' placeholder='example: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png' />

  <button type='submit'>Add Product</button>
</form>